* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 20px;
}

body {
  background-color: white;
}
/* --------------------------------Header inicion ------------------------------------*/
.header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  border-radius: 50%;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.header .btn button {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}
/*------------------- -----------header final---------------------------------------*/

/*------------------------------imagen de entrada-----------------------------------*/
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contenedor {
  position: relative;
  width: 700px;
  height: 550px;
  cursor: pointer;
  box-shadow: 1px 10px 25px rgb(0, 0, 0, 0.5);
}
.contenedor div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.caja2:hover {
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-principal {
  width: 1100px;
  height: 550px;
  padding-top: 20px;
}

/*------------------------final de imagen de entrada---------------------------------*/

/*-------------------------------Titulo1--------------------------------------------*/
.titulo1 {
  padding-top: 30px;
  font-size: 30px;
  font-family: sans-serif;
  color: #00008b;
  font-weight: bolder;
}

/*------------------------------titulo1 final-------------------------------------*/

/*-------------------------------parrafo1-----------------------------------------*/
.parrafo1 {
  padding-top: 10px;
  text-align: center;

  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #2f4f4f;
}
/*----------------------------parrafo1 final--------------------------------------*/
/*Cards*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}
.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 210px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}
/*Fin-Cards*/

/*pie de pagina*/
.pie {
  background: #140b5c;
}

.derechos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0a0433;
  color: white;
}
